body {
    height: 100vh;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(225, 87, 36);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: white;
    width: 50%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 0 3px 16px #222;
    margin: 20px;
}

.card-bottom {
    padding: 20px;
}

.logo {
    height: 160px;
}

.btn {
    text-decoration: none;
    display: block;
    width: 220px;
    line-height: 38px;
    padding-top: 2px;
    border-radius: 20px;
    color: white;
    background: rgba(225, 87, 36, 1);
    margin: 0 auto;
    border: none;
    font-size: 14px;
}

input[type='text'] {
    width: 180px;
    line-height: 32px;
    margin-bottom: 12px;
    padding-left: 12px;
}

.userData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.data {
    font-weight: 800;
}

footer {
    margin: 10px;
    font-size: 20px;
}

#repoList {
    max-height: 200px;
    overflow-x: scroll;
    list-style: none;
}

li {
    cursor: pointer;
    margin: 5px;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background: grey;
}